@page
@model RazorTest.Pages.LotType.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LotType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LotType.LotTypeId" />
            <div class="form-group">
                <label asp-for="LotType.Title" class="control-label"></label>
                <input asp-for="LotType.Title" class="form-control" />
                <span asp-validation-for="LotType.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotType.Description" class="control-label"></label>
                <input asp-for="LotType.Description" class="form-control" />
                <span asp-validation-for="LotType.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotType.Model" class="control-label"></label>
                <input asp-for="LotType.Model" class="form-control" />
                <span asp-validation-for="LotType.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotType.Color" class="control-label"></label>
                <input asp-for="LotType.Color" class="form-control" />
                <span asp-validation-for="LotType.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotType.PublishedDate" class="control-label"></label>
                <input asp-for="LotType.PublishedDate" class="form-control" />
                <span asp-validation-for="LotType.PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
